@import 'shared/styles/styles.scss';

.transition-enter {
  opacity: 0;
}

.transition-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in-out;
}

.transition-exit {
  opacity: 1;
}
.transition-exit {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
}
