@import '../../shared/styles/styles.scss';

.AppBar {
  width: 100%;
  padding-top: 10px;
  border-right: 1px solid #e7e5f2;
  box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.05),
    1px 0px 0px rgba(255, 255, 255, 0.6);
  @include media-min(tablet) {
    padding-top: 30px;
    height: 212px;
    display: flex;
    justify-content: center;
  }
  @include media-min(desktop) {
    width: 480px;
    height: 640px;
    padding-right: 69px;
    padding-bottom: 63px;
    padding-top: 40px;
    height: 640px;
    display: block;
  }
}

.nav {
  margin-bottom: 30px;
}

.balance {
  margin-bottom: 30px;
}

.wrapper {
  @include media-min(tablet) {
    margin-right: 30px;
    height: 182px;
  }
}
