@import '../../shared/styles/styles.scss';

.AppBar {
  width: 100%;
  padding-top: 12px;

  @include media-min(tablet) {
    padding-top: 32px;

    display: flex;
    justify-content: center;
  }
  @include media-min(desktop) {
    height: 640px;
    width: auto;

    flex-direction: column;
    align-items: flex-start;

    padding-right: 69px;
    padding-bottom: 63px;
    padding-top: 40px;
  }
}

.nav {
  margin-bottom: 30px;
}

.balance {
  margin-bottom: 30px;
}

.wrapper {
  @include media-min(tablet) {
    @include flexed(space-between, flex-start);
    flex-direction: column;

    margin-right: 30px;
  }

  @include media-min(desktop) {
    margin: 0px;
  }
}
