@import '../../shared/styles/mixins/media';

.statistic_container {
  @include media-min(desktop) {
    margin-left: 69px;
  }
}

.title {
  margin-top: 32px;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 30px;
  line-height: 0.6;
}

.wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-min(tablet) {
    flex-direction: row;
    align-items: normal;
  }
}

.info {
  width: 280px;

  @include media-min(tablet) {
    width: 336px;
    margin-left: 32px;
  }

  @include media-min(desktop) {
    width: 395px;
  }
}

.chart {
  margin-bottom: 20px;
}
