.title {
  margin-top: 32px;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 30px;
  line-height: 0.6;

  text-align: center;
}

.wrapper {
  margin-top: 20px;
  display: flex;
  position: relative;
}
.chart {
  position: absolute;
  left: 50px;
  top: 20px;
}
.info {
  margin-left: 32px;
  width: 395px;
}
