.my__header {
  background-color: white;
  width: 100%;
  height: 60px;
  padding: 0 21px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: 320.5px) {
    height: 80px;
    padding: 0 28px 0 32px;
  }
  @media screen and (min-width: 768.5px) {
    padding: 0 28px 0 16px;
  }
}
.logo {
  width: 30px;
  height: 30px;
  margin-right: 16px;
  @media screen and (min-width: 320.5px) {
    margin-right: 20px;

    width: 40px;
    height: 40px;
  }
}
.my__header h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  line-height: 45px;
}
.name {
  font-family: 'Circe', sans-serif;
  color: #bdbdbd;
  font-size: 18px;
  line-height: 27px;
  margin-right: 8px;
  @media screen and (min-width: 320.5px) {
    margin-right: 12px;
  }
}
.stik {
  height: 30px;
  width: 1px;
  background-color: #bdbdbd;
  margin-right: 12px;
  @media screen and (max-width: 320.5px) {
    display: none;
  }
}
.exit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50px;
  height: 100%;
  @media screen and (max-width: 320.5px) {
    width: 18px;
  }
}
.exit__svg {
  width: 18px;
  height: 18px;
}
.exit p {
  color: #bdbdbd;
  font-family: 'Circe', sans-serif;
  @media screen and (max-width: 320.5px) {
    display: none;
  }
}
.logo__box {
  display: flex;
}
.box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
