@import 'shared/styles/styles.scss';

.box {
  margin-top: 46px;
}
.table {
  height: 58px;
  margin-bottom: 20px;
  border-collapse: collapse;
  @media screen and (min-width: 768px) {
    min-width: 705px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 715px;
  }
}

.thead {
  height: 27px;
  @include main-font(700, 18px, 27px);
  color: black;
  background-color: getColor(full-white);
  text-align: left;

  & th:first-child {
    border-radius: 30px 0 0 30px;
    padding: 16px 48px 15px 20px;
  }

  & th:nth-child(2) {
    text-align: center;
    padding-right: 24px;
    padding-left: 24px;
  }

  & th:nth-child(3) {
    padding-right: 75px;
    padding-left: 23px;
    text-align: right;
  }

  & th:nth-child(4) {
    padding-right: 65px;
  }

  & th:nth-child(5) {
    padding-left: 33px;
  }

  & th:last-child {
    border-radius: 0 30px 30px 0;
    width: 130px;
  }
}
.tbody {
  text-align: left;
  @include main-font(400, 16px, 24px);

  &:not(:last-child) {
    border-bottom: 1px solid getColor(primaty-gray);
    box-shadow: 0px 1px 0px getColor(secondary-gray);
  }
}
.tbody td {
  padding-top: 16px;
  padding-bottom: 14px;

  &:nth-child(2) {
    text-align: center;
  }
  &:nth-child(3) {
    padding-left: 24px;
  }
  &:nth-child(5) {
    text-align: right;
    width: 40px;
  }

  &:first-child {
    padding-left: 20px;
  }

  &:last-child {
    display: flex;
    align-items: baseline;
    padding-left: 33px;
    padding-right: 8px;
  }
}
.tdComment {
  max-width: 120px;
}

.btn {
  cursor: pointer;
  padding: 4px 12px;
  border: none;
  height: 26px;
  background: getColor(success-green);
  border-radius: 18px;
  @include main-font(400, 14px, 21px);
  color: getColor(full-white);
}

.svg {
  margin-right: 8px;
}

.income {
  color: getColor(success-green);
}

.expence {
  color: getColor(wrong-pink);
}
