@import 'shared/styles/styles.scss';

.logo {
    @include flexed();

    // margin: 32px ;
    // @include media-min(mobile-resp) {
    //     padding-top: 40px;

    // }

}

.title {
    margin-left: 16px;
}

.auth {
    margin: 0 auto;
     width: 100vw;
     height: 100vh;
background-color: white;
    @include media-min(mobile-resp) {
        height: auto;
        padding: 60px;
        width: 533px;
        background-color: white;
        border-radius: 20px;

    }
}