body {
  background-color: white;
  background-attachment: fixed;
  @include media-min(tablet) {
    background-color: #e5e5e5;
    background-image: url('../../assets/background/ellipse_blue.png'),
      url('../../assets/background/ellipse_pink.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 40%;
    background-position: bottom 0 left 0, top 0 right 0;
  }
}
.red {
  border: 3px solid red;
}
