@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap');
@import './colors';
@import './mixins/mixins-main';

@font-face {
  font-family: 'Circe';
  src: url('../../assets/fonts/Circe-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../../assets/fonts/Circe-Bold.woff2');
  font-weight: bold;
  font-style: normal;
}

g {
  outline: none;
}

body {
  background-color: white;
  background-attachment: fixed;
  @include media-min(tablet) {
    background-color: #e5e5e5;
    background-image: url('../../assets/background/ellipse_blue.png'),
      url('../../assets/background/ellipse_pink.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 40%;
    background-position: bottom 0 left 0, top 0 right 0;
    font-family: 'Circe';
  }
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.modal-open {
  overflow: hidden;
}

.hidden-button {
  display: none !important;

  @include media-min(tablet) {
    display: block !important;
  }
}
