@import '../../styles/styles.scss';

.calendar {
  border-style: none;
  border-bottom: 2px solid rgba(224, 224, 224, 1);
  width: 100%;

  cursor: pointer;
  @include main-font(400, 18px, 27px);
}

.wrapper {
  width: 100%;
  margin-top: 40px;

  @include media-min(mobile-resp) {
    width: 181px;
  }
}
