@import '../../styles/styles.scss';

.wrapper {
  margin-top: 40px;
  display: flex;
  gap: 24px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
  gap: 30px;
}

/* Hide default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.input:checked.input:hover + .slider,
.input:checked.input:focus + .slider {
  outline: 2px solid getColor(wrong-pink);

  // outline-offset: 2px;
}

.input:hover + .slider,
.input:focus + .slider {
  outline: 2px solid getColor(success-green);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: 1px solid rgba(224, 224, 224, 1);
  transition: position 0.4s;
  border-radius: 30px;
}

.sliderDisabled {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: 1px solid rgba(224, 224, 224, 1);
  transition: position 0.4s;
  border-radius: 30px;
}

.sliderDisabled:before {
  position: absolute;
  content: '';
  text-align: center;
  height: 44px;
  width: 44px;
  left: -3px;
  bottom: -3px;
  background-color: getColor(success-green);
  transition: 0.4s;
  border-radius: 50%;
  box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath stroke='%23fff' stroke-width='2' d='M10 0v20M0 10h20'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

.slider:before {
  position: absolute;
  content: '';
  text-align: center;
  height: 44px;
  width: 44px;
  left: -3px;
  bottom: -3px;
  background-color: getColor(success-green);
  transition: 0.4s;
  border-radius: 50%;
  box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath stroke='%23fff' stroke-width='2' d='M10 0v20M0 10h20'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

.input:checked + .sliderDisabled:before {
  content: '';
  background-color: getColor(wrong-pink);
  transform: translateX(40px);
  box-shadow: 0px 6px 15px rgba(255, 101, 150, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='2' fill='none'%3E%3Cpath stroke='%23fff' stroke-width='2' d='M0 1h20'/%3E%3C/svg%3E");
}

.input:checked + .slider:before {
  content: '';
  background-color: getColor(wrong-pink);
  transform: translateX(40px);
  box-shadow: 0px 6px 15px rgba(255, 101, 150, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='2' fill='none'%3E%3Cpath stroke='%23fff' stroke-width='2' d='M0 1h20'/%3E%3C/svg%3E");
}
.income {
  content: 'Income';
  display: flex;
  align-items: center;
  font-size: 18px;
  @include main-font(700, 16px, 24px);
  color: getColor(primaty-gray);
  user-select: none;
}

.expense {
  content: 'Expense';
  display: flex;
  align-items: center;
  font-size: 18px;
  @include main-font(700, 16px, 24px);
  color: getColor(primaty-gray);
  user-select: none;
}
