@import '../../../shared/styles//mixins/media';

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 20px;

  @include media-min(tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.close_filter {
  display: flex;
  -webkit-transition: color 150ms;
  transition: color 150ms;
  color: hsl(0, 0%, 80%);
  padding: 8px;
  box-sizing: border-box;
}
