@import 'shared/styles/styles.scss';

.field {
  display: inline-flex;
  border-bottom: 1px solid;
  border-color: getColor('primaty-gray');
  padding-bottom: 6px;
  margin-top: 41px;
}

.form {
  text-align: center;

  @include media-min(mobile-resp) {
    display: flex;
    flex-direction: column;
    padding: 60px;
  }
}
.svg {
  margin-right: 22px;
  margin-left: 10px;
}

.wrapper {
  width: 24px;
  @include flexed();
}

.btnAuth {
  height: 50px;
  display: block;
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
  margin-top: 20px;
  border: 1px solid #4a56e2;
  @include flexed();
  color: #4a56e2;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  @include media-max(mobile) {
    margin-top: 40px;
  }
}
