
@import 'shared/styles/styles.scss';

.desktopWrapper {
  @include media-min(desktop) {
    @include flexed(flex-end, center);
    width: 100%;
  }
}

.backdrop {
  padding-top: 20px;
  padding-bottom: 20px;

  @include media-min(tablet) {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  @include media-min(desktop) {
    @include flexed;

    width: 731px;
    height: 100vh;

    padding: 0px;

    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(25px);
  }
}

.form {
  @include flexed;
  flex-direction: column;

  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;

  @include media-min(mobile-resp) {
    width: 533px;

    background-color: white;

    padding: 0px;
  }

  @include media-min(tablet) {
    border-radius: 20px;

    padding-top: 40px;
    padding-left: 62px;
    padding-bottom: 62px;
    padding-right: 62px;
  }
}

.logoBox {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 60px;
}

.logo {
  margin-right: 16px;

  @include media-min(tablet) {
    width: 40px;
    height: 40px;
  }
}

.logoText {
  @include second-font(700, 24px, 24px);

  @include media-min(tablet) {
    @include second-font(700, 30px, 45px);
  }
}

:global(.empty) {
  width: 0;
}

:global(.bad) {
  width: 30%;
  height: 5px;
  background: -webkit-linear-gradient(90deg, #ff0000, #ff7300);
  background: linear-gradient(90deg, #ff0000, #ff7300);
}

:global(.normal) {
  width: 70%;
  height: 5px;
  background: -webkit-linear-gradient(90deg, #ff000d, #ff7300, #ddfa00);
  background: linear-gradient(90deg, #ff000d, #ff7300, #ddfa00);
}

:global(.perfect) {
  width: 100%;
  height: 5px;
  background: -webkit-linear-gradient(90deg,
      #ff000d,
      #ff7300,
      #ddfa00,
      #37ff00);
  background: linear-gradient(90deg, #ff000d, #ff7300, #ddfa00, #37ff00);
}

.label {
  @include flexed(flex-start, center);
  position: relative;
  max-width: 410px;

  border-bottom: 1px solid #e0e0e0;

  padding-bottom: 8px;
  padding-left: 12px;

  &:not(:last-of-type) {
    margin-bottom: 40px;
  }

  &:focus-within {
    border-bottom: 1px solid black;
  }
}

.flexedPassword {
  @include flexed(flex-start, center);
}

.error {
  position: absolute;
  color: red;
  font-family: 'Circe';
  font-weight: bold;
  font-style: italic;
  font-size: 14px;
  top: 120%;
}

.passwordLabel {
  @include flexed(center, flex-start);

  position: relative;

  flex-direction: column;
  max-width: 410px;

  border-bottom: 1px solid #e0e0e0;

  padding-bottom: 8px;
  padding-left: 12px;

  &:not(:last-of-type) {
    margin-bottom: 40px;
  }

  &:focus-within {
    border-bottom: 1px solid black;
  }
}

.input {
  @include flexed(center, baseline);
  @include main-font(400, 18px, 24px);
  position: relative;

  border: none;
  position: relative;
  padding: 0px;
  padding-left: 20px;

  &::placeholder {
    @include main-font(400, 18px, 24px);
  }

  &:focus {
    outline: none;
  }
}

.indicate {
  width: 100%;
  height: 10px;

  &>div {
    position: absolute;
    left: 0;
    bottom: -4px;
    border-radius: 10px;
    transition: width 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.btnAuth {
  @include flexed;
  @include main-font(400, 18px, 27px, 0.1em);
  text-transform: uppercase;

  width: 280px;
  height: 50px;

  border: 1px solid #4a56e2;
  border-radius: 20px;

  margin-top: 20px;

  color: #4a56e2;

  cursor: pointer;

  @include media-min(tablet) {
    width: 300px;
  }
}

.imageBox {
  display: none;

  @include media-min(tablet) {
    @include flexed;

    padding-top: 60px;
  }

  @include media-min(desktop) {
    flex-direction: column;

    padding: 0px;
    margin-right: auto;
    margin-left: auto;
  }
}

.backText {
  @include second-font(400, 30px, 45px);
  @include flexed();

  margin-left: 40px;

  @include media-min(desktop) {
    margin: 0px;
    margin-top: 28px;
  }
}

.password {
  width: 5px;
  height: 5px;
  background-color: red;
}