.btn-auth{
    height: 50px;
    display: block;
    width: 280px;
        margin-right: auto;
            margin-left: auto;
            border-radius: 20px;
            margin-top: 40px;
            background-color: #24CCA7;
            color: white;
            border: none;
            font-family: 'Montserrat',
                sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
                text-align: center;
                letter-spacing: 0.1em;
                text-transform: uppercase;
}
